<h1> List of disclaimeres for: <%= @user.username%></h1>
<% @disclaimers.each_with_index do |disclaimer, i | %>
  <ul>
    <li>
      <div> statement : <%= i%>   </div>
      <div> <%= disclaimer.statement%>   </div>
      <%= link_to "Delete", disclaimer_path(disclaimer), method: :delete, data: {turbo_method: :delete, confirm: "Are you sure"} %>
      <%= link_to "edit", edit_disclaimer_path(disclaimer) %>
      <%= link_to "Download as .txt", download_txt_disclaimer_path(disclaimer), target: "_blank" %>
      <%= link_to "Download as .pdf", download_pdf_disclaimer_path(disclaimer), target: "_blank" %>
    </li>
  </ul>
<%end%>
<div>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete, data: { turbo: false } %>
</div>
<div>
  <%= link_to "Profile " , "/profile", method: :get  %>
</div>
<%= link_to "Home Page", root_path%>
